<div class="row mt-4">

    <!-- Casual Leave -->

    <div class="col-md-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h5>Casual Leave</h5>

                <h2>
                    {{ casual_leave }}
                </h2>

                <p class="text-muted">
                    Days Remaining
                </p>

            </div>

        </div>

    </div>


    <!-- Sick Leave -->

    <div class="col-md-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h5>Sick Leave</h5>

                <h2>
                    {{ sick_leave }}
                </h2>

                <p class="text-muted">
                    Days Remaining
                </p>

            </div>

        </div>

    </div>


    <!-- Earned Leave -->

    <div class="col-md-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h5>Earned Leave</h5>

                <h2>
                    {{ earned_leave }}
                </h2>

                <p class="text-muted">
                    Days Remaining
                </p>

            </div>

        </div>

    </div>

</div>