{% extends "staff/staff_base.html" %}

{% block content %}

<h2>Leave History</h2>

<table border="1">
    <tr>
        <th>Leave Type</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
    </tr>

    {% for leave in leaves %}
    <tr>
        <td>{{ leave.leave_type }}</td>
        <td>{{ leave.from_date }}</td>
        <td>{{ leave.to_date }}</td>
        <td>{{ leave.status }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No Leave Applied</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}