{% extends 'admin/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3>Apply Leave</h3>
        </div>

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Apply Leave
                </button>

                <a href="{% url 'leave_request' %}" class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}